/*-------------------------
          GENERAL
-------------------------*/

* {
  box-sizing: border-box;
}

/* Single direction margin declaration */
h1,
h2,
h3,
ul,
ol,
p,
img {
  margin-bottom: 2rem;
}

/* Set default size for containers */
.quotation,
.locations,
.program,
.gifts,
.contact,
.footer {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

/* Set default background image, font, size and text color */
body {
  background: url('assets/wedding-background.jpg') repeat center;
  font-family: 'Old Standard TT', serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #444349;
}

/* Set default font family for h1 and h2 */
h1,
h2 {
  font-family: 'Alex Brush', cursive;
}


/* h2 and h3 font size */
h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.5rem;
}


/* links color and hover */
a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .20s ease-in-out;
}



/*-------------------------
          HEADER
-------------------------*/



.cover {
  background: url('assets/wedding-cover.png') no-repeat 70% center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: table;
}

.header-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/* header-text container */
.header-text {
  margin: 0 auto;
  padding: .7rem;
  color: hsla(250, 4%, 100%, 0.76);
  background: hsla(100, 0%, 0%, .5);
}

/* font size, color for headline and tagline */
.headline {
  font-size: 3rem;
  color: #d2ba87;
  margin-bottom: 0;
  /* To negate the effect of the single-direction margin declaration. */
}

.tagline {
  font-size: 1.5rem;
  letter-spacing: .2rem;
  line-height: 2rem;
}

/* margin bottom */
.tagline,
.headline {
  margin-bottom: 2rem;
}

/* horizontal line after tagline - pseudo-element */
.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: .0625rem;
  width: 12.515625rem;
  margin: .5rem auto;
}

/* font size, color for date */
.date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

/* horizontal line before/after date - pseudo-element */
.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: .0625rem;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem
}



/*-------------------------
          QUOTATION
-------------------------*/



/* img size */
.quotation img {
  height: 7rem;
}

/* remove extra bottom margin */
.quotation p:last-child {
  margin-bottom: 0;
}





